{% extends 'habits/base.html' %}

{% block content %}
<h2>Sua Lista de Hábitos!</h2>
<ul class="list-group">
    {% for habit in habits %}
    <li class="list-group-item">
        <h4>{{ habit.nome }}</h4>
        <p>{{ habit.descrição }}</p>
        <div class="btn-group" role="group" aria-label="Habit actions">
            <a href="{% url 'habit_edit' habit.id %}" class="btn btn-outline-primary btn-sm">Editar</a>
            <a href="{% url 'habit_delete' habit.id %}" class="btn btn-outline-danger btn-sm">Deletar</a>
        </div>
    </li>
    {% empty %}
    <li class="list-group-item">Você não tem hábitos ainda 😢</li>
    {% endfor %}
</ul>
{% endblock %}